.git
.gitignore
.github/
node_modules/
!node_modules/.prisma/
!node_modules/.prisma/**
!node_modules/@prisma/
!node_modules/@prisma/**
npm-debug.log*
Dockerfile*
docker-compose*.yml
.env
.env.*
.prisma/
coverage/
dist/
build/
.vscode/
.idea/
.DS_Store
